@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    height: 98.1vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
}
.header{
  background-color: #ff5c02;
  grid-area: header;
  width: 1450px;
  
}
.logout{
    width: 30px;
    height: 30px;
    margin-top: 26px;
    margin-left: 1400px;
}
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 1340px;
    position: relative;
    display: inline-block;
    top: -45px;
}
  .Bhanu {
    width: 80px;
    margin-left: 880px;
    position: relative;
    top: -105px;
    color: white;
  }
  .Admin-User {
    width: 85px;
    height: 15px;
    margin-left: -10px;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 20px;
    text-align: right;
    color: #fff;
   
  }
.view-profile {
    width: 90px;
    font-size: 10px;
    color: white;
    cursor: pointer;
    margin-left: 380px;
    font-weight: bold;
    font-family: Roboto;
    margin-top: -7px;
}
.alink{
  text-decoration: none;
  color: white;
}
  .date-time  {
    width: 90px;
    margin-left: 1100px;
    position: relative;
    font-family: Roboto;
    font-size: 15spx;
    font-weight: 500;
    top: -170px;
    color: white;
    display: inline-block;
    border-left: 3px solid white;
    padding-left: 10px;
    border-right: 3px solid white;
  }
  #date {
    width: 80px;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 5px;
    font-family: Roboto;
  }
  #time {
    font-size: 14px;
    margin-top: -13px;
    margin-left: 5px;
  }
.side-bar{
  grid-area: side;
  width: 220px;
  height: 585px;

padding: 30.1px 0 183.8px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
}

.img{
  width: 152px;
  height: 60px;
  margin: 0 38px 55.1px 30px;
  object-fit: contain;
}

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
  margin-top: -5px;
  width: 195px;
  height: 50px;
  padding-left: 23px;
  padding-top: 17.5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
#Home{
  color: white;
  background-color: orangered;
}

#Hotel-Bookings{
  width: 200px;
  height: 28px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.Dashbord_Hotel_Bookings{
  width: 300px;
  height: 28px;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 23px;
  font-weight: bold;
  color: #000;
  }
.Dashborad_data{
    display: flex;
    flex-direction: row;
}
.Dashboard_card{
  width: 200px;
  height: 120px;
  margin-left: 30px;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff;

}
.Dashboard_card1{
  width: 240px;
  height: 120px;
  margin-left: 30px;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.card{
  width: 240px;
  height: 120px;
  margin-left: 30px;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.Dashboard_card3{
  width: 500px;
  height: 120px;
  margin-left: 30px;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.card img{
  width: 20px;
  height: 15px;
  margin: 1px 10px 21px 0;
  object-fit: contain;
}
.card p{
  width: 63px;
  height: 16px;
 margin-top: -43px;
 margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
}
.Dashbord_Verified{
  width: 69px;
  height: 35px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: #0c9e00;
   font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
}
.Dashbord_cash{
  width: 51px;
  height: 16px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 500;
  color: #b0b0b0;
  }
.Dashboard_ruppe{
  width: 69px;
  height: 35px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.Dashboard_ruppe1{
  width: 69px;
  height: 35px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-left: 160px;
  margin-top: -33px;
  color: #000;

}
.Dashboard_cash1{
  width: 51px;
  height: 16px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 500;
  color: #b0b0b0;
}
.Dashboard_online1{
  width: 40px;
  height: 16px;
  margin-left: 190px;
  margin-top: -20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #b0b0b0;
}
.cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}

.Dashboard_divsetion1{
  display: flex;
  flex-direction: row;
} 
.Dashboard_order1{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
} 
.Dashboard_orderdata11{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 30px;
} 
.Dashboard_orderdata2{
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 500;
  color: #b0b0b0;
  margin-right: 10px;
  margin-left: 10px;
}
.Dashboard_orderdata22{
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 500;
  color: #b0b0b0;
  margin-right: 30px;
  margin-left: 30px;
}

.cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
}
.user{
  width: 157px;
  height: 28px;
  margin-left: 30px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 23.83px;
  font-weight: bold;
  color: #000;
}

.download, .Dashborad_datadownload {
  text-align: right;
  margin-top: -60px;
}
.Dashborad_datadownload{
  margin-right:200px ;
  width: 100px;
  height: 30px;
  padding: 8px 23px;
  border-radius: 4px;
  border: solid 1px #ff5c02;
  background-color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ff5c02;
  margin-top: 10px;
  
}
.Dashboard_filterdatadownload{
  margin-left: 1270px;
  margin-top: -60px;
}

.data{
  display: flex;
  flex-direction: row;
}
.Dashboard_kyc_info{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  margin-top: -25px;
  margin-left: 30px;
}
.Dashboard_kyc_info1{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  margin-top: -25px;
  margin-left: 40px;
}
.Dashboard_kyc_info3{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  margin-top: -10px;
  margin-left: 30px;
}

.Dashboard_userRequest{
  width: 157px;
  height: 28px;
  margin-left: 30px;
  margin-top: 40px;
  font-family: Roboto;
  font-size: 23.83px;
  font-weight: bold;
  color: #000;
}

.kyc_info{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  margin-top: -25px;
  margin-left: 30px;
}
.orders {
width: 500px;
height: 120px;
margin: 20px 0 0 30px;
padding: 16px 11px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 var(--black-10);
background-color: #fff;
}



.userRequest{
  width: 157px;
  height: 28px;
  margin-left: 30px;
  margin-top: 40px;
  font-family: Roboto;
  font-size: 23.83px;
  font-weight: bold;
  color: #000;
}

.Dashboard_table-container{
  width: 1300px;
  height: 415px;
 margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
  
}
.table-container{
 
  width: 1300px;
  height: 415px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
   margin-top: 10px;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-left: 1px;
}
thead{
  background: #ff5c02;
  color: #fff;
  height: 60px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
 
}
.Dashboard_left {
  border-radius: 10px 0 0 10px ;
}
.left {
  border-radius: 10px 0 0 10px ;
}
.Dashboard_right {
  border-radius: 0 10px 10px 0 ;
}
.right {
  border-radius: 0 10px 10px 0 ;
}
th{
  padding: 15px;
  text-align: left;
}
tbody{
  background: #fff;

  height: 60px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
}
td{
  padding: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color:  #909090;
}
.allocated{
  width: 69px;
  height: 19px;
  margin: 0 0 0 105px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  color: #00bf4c;
}
.rejected{
  width: 64px;
  height: 19px;
  margin: 0 0 1px 105px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  color: 
  #ff0000;
}
.waiting{
  width: 140px;
  height: 19px;
  margin: 5px 52px 6px 105px;
  font-family: Roboto;
  font-size: 15.5px;
  font-weight: bold;
  color: #f7b114;
}
.approve{
  width: 80px;
  height: 30px;
  margin: 0 10px 0 0;
  padding: 8px 17px 8px 18px;
  border-radius: 4px;
  background-color: #00bf4c;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}
.reject{
  width: 80px;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 8px 22.5px 8px 23.5px;
  border-radius: 4px;
  background-color: #ff0000;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* Hotel Booking CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.Hotel-Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.Hotel_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.Hotel_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.Hotel_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.Hotel_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .Hotel_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .Hotel_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.Hotel_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.Hotel_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.Hotel_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.Hotel_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.Hotel_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.Hotel_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.Hotel_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.Hotel_rup1,.Hotel_rup2,.Hotel_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.Hotel_rup2, .Hotel_rup3{
margin-left: 250px;
}
.Hotel_rup3{
margin-left: 380px;
}
.Hotel_pay, .Hotel_pay1, .Hotel_pay2, .Hotel_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.Hotel_pay1,.Hotel_pay2,.Hotel_pay3{
margin-left: 100px;
}
.Hotel_pay2,.Hotel_pay3{
margin-left: 230px;
}
.Hotel_pay3{
margin-left: 355px;
}
.Hotel_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.Hotel_align, .Hotel_align1 {
text-align: right;
margin-top: -55px;

}

.Hotel_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.Hotel_img1{
margin-right:140px;
margin-top: 20px;

}
.Hotel_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.Hotel_left {
border-radius: 10px 0 0 10px ;
}
.Hotel_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}


/* Puja Booking CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.puja_Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.puja_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.puja_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.puja_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.puja_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .puja_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .puja_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.puja_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.puja_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.puja_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.puja_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.puja_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.puja_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.puja_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.puja_rup1,.puja_rup2,.puja_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.puja_rup2, .puja_rup3{
margin-left: 250px;
}
.puja_rup3{
margin-left: 380px;
}
.puja_pay, .puja_pay1, .puja_pay2, .puja_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.puja_pay1,.puja_pay2,.puja_pay3{
margin-left: 100px;
}
.puja_pay2,.puja_pay3{
margin-left: 230px;
}
.puja_pay3{
margin-left: 355px;
}
.puja_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.puja_align, .puja_align1 {
text-align: right;
margin-top: -55px;

}

.puja_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.puja_img1{
margin-right:140px;
margin-top: 20px;

}
.puja_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.puja_left {
border-radius: 10px 0 0 10px ;
}
.puja_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}

/* Ujjain Booking CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.ujjain_Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.ujjain_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.ujjain_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.ujjain_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.ujjain_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .ujjain_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .ujjain_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.ujjain_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.ujjain_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.ujjain_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.ujjain_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.ujjain_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.ujjain_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.ujjain_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.ujjain_rup1,.ujjain_rup2,.ujjain_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.ujjain_rup2, .ujjain_rup3{
margin-left: 250px;
}
.ujjain_rup3{
margin-left: 380px;
}
.ujjain_pay, .ujjain_pay1, .ujjain_pay2, .ujjain_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.ujjain_pay1,.ujjain_pay2,.ujjain_pay3{
margin-left: 100px;
}
.ujjain_pay2,.ujjain_pay3{
margin-left: 230px;
}
.ujjain_pay3{
margin-left: 355px;
}
.ujjain_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.ujjain_align, .ujjain_align1 {
text-align: right;
margin-top: -55px;

}

.ujjain_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.ujjain_img1{
margin-right:140px;
margin-top: 20px;

}
.ujjain_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.ujjain_left {
border-radius: 10px 0 0 10px ;
}
.ujjain_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}


/* Omkarshawar Tour CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.omkarshawar_Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.omkarshawar_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.omkarshawar_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.omkarshawar_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.omkarshawar_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .omkarshawar_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .omkarshawar_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.omkarshawar_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.omkarshawar_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.omkarshawar_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.omkarshawar_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.omkarshawar_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.omkarshawar_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.omkarshawar_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.omkarshawar_rup1,.omkarshawar_rup2,.omkarshawar_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.omkarshawar_rup2, .omkarshawar_rup3{
margin-left: 250px;
}
.omkarshawar_rup3{
margin-left: 380px;
}
.omkarshawar_pay, .omkarshawar_pay1, .omkarshawar_pay2, .omkarshawar_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.omkarshawar_pay1,.omkarshawar_pay2,.omkarshawar_pay3{
margin-left: 100px;
}
.omkarshawar_pay2,.omkarshawar_pay3{
margin-left: 230px;
}
.omkarshawar_pay3{
margin-left: 355px;
}
.omkarshawar_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.omkarshawar_align, .omkarshawar_align1 {
text-align: right;
margin-top: -55px;

}

.omkarshawar_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.omkarshawar_img1{
margin-right:140px;
margin-top: 20px;

}
.omkarshawar_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.omkarshawar_left {
border-radius: 10px 0 0 10px ;
}
.omkarshawar_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}

/* Maa_baglamukki Tour CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.Maa_baglamukki_Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.Maa_baglamukki_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.Maa_baglamukki_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.Maa_baglamukki_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.Maa_baglamukki_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .Maa_baglamukki_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .Maa_baglamukki_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.Maa_baglamukki_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.Maa_baglamukki_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.Maa_baglamukki_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.Maa_baglamukki_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.Maa_baglamukki_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.Maa_baglamukki_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.Maa_baglamukki_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.Maa_baglamukki_rup1,.Maa_baglamukki_rup2,.Maa_baglamukki_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.Maa_baglamukki_rup2, .Maa_baglamukki_rup3{
margin-left: 250px;
}
.Maa_baglamukki_rup3{
margin-left: 380px;
}
.Maa_baglamukki_pay, .Maa_baglamukki_pay1, .Maa_baglamukki_pay2, .Maa_baglamukki_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.Maa_baglamukki_pay1,.Maa_baglamukki_pay2,.Maa_baglamukki_pay3{
margin-left: 100px;
}
.Maa_baglamukki_pay2,.Maa_baglamukki_pay3{
margin-left: 230px;
}
.Maa_baglamukki_pay3{
margin-left: 355px;
}
.Maa_baglamukki_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.Maa_baglamukki_align, .Maa_baglamukki_align1 {
text-align: right;
margin-top: -55px;

}

.Maa_baglamukki_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.Maa_baglamukki_img1{
margin-right:140px;
margin-top: 20px;

}
.Maa_baglamukki_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.Maa_baglamukki_left {
border-radius: 10px 0 0 10px ;
}
.Maa_baglamukki_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}


/* Taxi_Services Tour CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.taxi_services_Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.taxi_services_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.taxi_services_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.taxi_services_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.taxi_services_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .taxi_services_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .taxi_services_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.taxi_services_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.taxi_services_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.taxi_services_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.taxi_services_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.taxi_services_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.taxi_services_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.taxi_services_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.taxi_services_rup1,.taxi_services_rup2,.taxi_services_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.taxi_services_rup2, .taxi_services_rup3{
margin-left: 250px;
}
.taxi_services_rup3{
margin-left: 380px;
}
.taxi_services_pay, .taxi_services_pay1, .taxi_services_pay2, .taxi_services_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.taxi_services_pay1,.taxi_services_pay2,.taxi_services_pay3{
margin-left: 100px;
}
.taxi_services_pay2,.taxi_services_pay3{
margin-left: 230px;
}
.taxi_services_pay3{
margin-left: 355px;
}
.taxi_services_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.taxi_services_align, .taxi_services_align1 {
text-align: right;
margin-top: -55px;

}

.taxi_services_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.taxi_services_img1{
margin-right:140px;
margin-top: 20px;

}
.taxi_services_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.taxi_services_left {
border-radius: 10px 0 0 10px ;
}
.taxi_services_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}

/* airport_rides Tour CSS */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.airport_rides_Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.airport_rides_card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.airport_rides_card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.airport_rides_card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.airport_rides_cards{
  width: 430px;
  height: 120px;
  margin-left: 340px;
  margin-top: -152px;
  padding: 16px 19px 16px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 
  rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  }
  .airport_rides_cards img{
  width: 16px;
  height: 16px;
  margin: 0 14px 21px 0;
  object-fit: contain;
  }
  .airport_rides_cards p{
  width: 63px;
  height: 16px;
  margin-top: -43px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #ff5c02;
  }
.airport_rides_rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.airport_rides_rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}

.airport_rides_cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.airport_rides_online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.airport_rides_cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.airport_rides_cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.H p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.airport_rides_rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.airport_rides_rup1,.airport_rides_rup2,.airport_rides_rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.airport_rides_rup2, .airport_rides_rup3{
margin-left: 250px;
}
.airport_rides_rup3{
margin-left: 380px;
}
.airport_rides_pay, .airport_rides_pay1, .airport_rides_pay2, .airport_rides_pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.airport_rides_pay1,.airport_rides_pay2,.airport_rides_pay3{
margin-left: 100px;
}
.airport_rides_pay2,.airport_rides_pay3{
margin-left: 230px;
}
.airport_rides_pay3{
margin-left: 355px;
}
.airport_rides_user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.airport_rides_align, .airport_rides_align1 {
text-align: right;
margin-top: -55px;

}

.airport_rides_Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.airport_rides_img1{
margin-right:140px;
margin-top: 20px;

}
.airport_rides_table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.airport_rides_left {
border-radius: 10px 0 0 10px ;
}
.airport_rides_right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}
.logout i{
  color: #fff;
  
  }
  
/* r */

#Home,
#Hotel-Booking,
#Puja-Booking,
#Ujjain-Darshan,
#Omkarshwar-Tour,
#Maa-Baglamukki-Tour,
#Taxi-Services,
#Airport-Rides,
#About-Ujjain
{
margin-top: -5px;
width: 195px;
height: 50px;
padding-left: 23px;
padding-top: 17.5px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}
#Home{
color: white;
background-color: orangered;
}

#Hotel-Bookings{
width: 204px;
height: 28px;
margin-top: 30px;
margin-left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: bold;
color: #000;
}

.Hotel-Bookings{
width: 300px;
height: 28px;
margin-left: 20px;
font-family: Roboto;
font-size: 23px;
font-weight: bold;
color: #000;
}
.card{
width: 240px;
height: 120px;
margin-left: 30px;
padding: 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.card img{
width: 20px;
height: 15px;
margin: 1px 10px 21px 0;
object-fit: contain;
}
.card p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.rupee{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-top: 50px;

color: #000;
}

.rupee1{
width: 69px;
height: 35px;
font-family: Roboto;
font-size: 30px;
font-weight: bold;
margin-left: 160px;
margin-top: -33px;
color: #000;

}
.Dashbord_cash{
  width: 51px;
  height: 16px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 500;
  color: #b0b0b0;
  }
.cash{
width: 51px;
height: 16px;
font-family: Roboto;
font-size: 13.5px;
font-weight: 500;
color: #b0b0b0;
}
.online{
width: 40px;
height: 16px;
margin-left: 190px;
margin-top: -20px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}

.cards{
width: 430px;
height: 120px;
margin-left: 340px;
margin-top: -152px;
padding: 16px 19px 16px 20px;
border-radius: 10px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
background-color: #fff; 
}
.cards img{
width: 16px;
height: 16px;
margin: 0 14px 21px 0;
object-fit: contain;
}
.cards p{
width: 63px;
height: 16px;
margin-top: -43px;
margin-left: 30px;
font-family: Roboto;
font-size: 14px;
font-weight: bold;
color: #ff5c02;
}
.rup{
width: 35px;
height: 35px;
font-family: Roboto;
margin-top: 50px;
font-size: 30px;
font-weight: bold;
color: #000;
}
.rup1,.rup2,.rup3{

  width: 35px;
  height: 35px;
  margin: -50px 0 0 118px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #000;
}
.rup2, .rup3{
margin-left: 250px;
}
.rup3{
margin-left: 380px;
}
.pay, .pay1, .pay2, .pay3{
width: 31px;
height: 16px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
color: #b0b0b0;
}
.pay1,.pay2,.pay3{
margin-left: 100px;
}
.pay2,.pay3{
margin-left: 230px;
}
.pay3{
margin-left: 355px;
}
.user{
width: 157px;
height: 28px;
margin-left: 30px;
margin-top: 50px;
font-family: Roboto;
font-size: 23.83px;
font-weight: bold;
color: #000;
}
.align, .align1 {
text-align: right;
margin-top: -55px;

}

.Download{
margin-right:200px ;
width: 100px;
height: 30px;
padding: 8px 23px;
border-radius: 4px;
border: solid 1px #ff5c02;
background-color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #ff5c02;

}
.img1{
margin-right:140px;
margin-top: 20px;

}
.table-container{
width: 1300px;
height: 415px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
margin-top: 10px;

}
table{
width: 100%;
border-collapse: collapse;
margin-left: 1px;
}
thead{
background: #ff5c02;
color: #fff;
height: 60px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}
.left {
border-radius: 10px 0 0 10px ;
}
.right {
border-radius: 0 10px 10px 0 ;
margin-left: 400px;
}
th{
padding: 15px;
text-align: left;
}
tbody{
background: #fff;

height: 60px;
box-shadow: 0 0 20px 0 
rgba(0, 0, 0, 0.1);
}
td{
padding: 15px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
color:  #909090;
}
.allocated{
width: 69px;
height: 19px;
margin: 0 0 0 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#00bf4c;
}
.rejected{
width: 64px;
height: 19px;
margin: 0 0 1px 105px;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
color: 
#ff0000;
}
.waiting{
width: 140px;
height: 19px;
margin: 5px 52px 6px 105px;
font-family: Roboto;
font-size: 15.9px;
font-weight: bold;
color: #f7b114;
}
.approve{
width: 80px;
height: 30px;
margin: 0 10px 0 0;
padding: 8px 17px 8px 18px;
border-radius: 4px;
background-color: #00bf4c;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.reject{
width: 80px;
height: 30px;
margin: 0 0 0 10px;
padding: 8px 22.5px 8px 23.5px;
border-radius: 4px;
background-color: #ff0000;
color: #fff;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
border: none;
}
.totalperson
{
  font-family: Roboto;
  font-size: 20.7px;
  font-weight: 500;
 

}

.logout i{
color: #fff;

}
